<div class="home__container">
    <app-card
    gameCover="assets/minecraft.png"
    gameLabel="DIGITAL"
    gameType="DIGITAL PS4"
    gamePrice="$ 35,00"
    ></app-card>

    <app-card 
    gameCover="assets/gow-4.jpg"
    gameLabel="DIGITAL"
    gameType=" DISK PS5"
    gamePrice="$ 51,00"
    ></app-card>

    <app-card 
    gameCover="assets/spider-man.jpg"
    gameLabel="EXCLUSIVE"
    gameType=" DISK PS4"
    gamePrice="$ 49,99"
    game></app-card>

    <app-card 
    gameCover="assets/ac-valhalla.png"
    gameLabel="EXCLUSIVE"
    gameType=" DIGITAL PS4"
    gamePrice="$ 80,00"
    game></app-card>

    <app-card 
    gameCover="assets/er.jpg"
    gameLabel="DIGITAL"
    gameType=" DIGITAL PS4"
    gamePrice="$ 52,00"
    game></app-card>

    <app-card 
    gameCover="assets/mk1.jpg"
    gameLabel="DIGITAL"
    gameType=" DIGITAL PS5"
    gamePrice="$ 102,99"
    game></app-card>

    <app-card 
    gameCover="assets/hrd.jpg"
    gameLabel="DIGITAL"
    gameType=" DIGITAL PS4"
    gamePrice="$ 102,99"
    game></app-card>

    <app-card 
    gameCover="assets/roblox.png"
    gameLabel="DIGITAL"
    gameType=" DIGITAL PS4"
    gamePrice="FREE"
    game></app-card>

</div>