<div class="menu-bar__container">
    <div class="menu-bar__logo">
        <a href="#"><img src="assets/ps-logo.png" alt="PlayStation Store Logo" width="140px" height="32px"></a>
    </div>
    <div class="menu-bar__item">
        <ul>
            <li><a href="https://stackoverflow.com/users/22451549/pedrovalravn">stackoverflow</a></li>
            <li><a href="https://www.linkedin.com/in/pedrovalravn/">LinkedIn</a></li>
            <li><a href="https://github.com/pedrovalravn">GitHub</a></li>
        </ul>
    </div>
</div>